@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.p {
    color: rgb(94, 94, 94);
}

.max-w {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
    background-color: black;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.navbar-logo h3:nth-child(1) {
    color: white;
}

.navbar-logo h3:nth-child(2) {
    color: rgb(238, 148, 12);
    font-family: 'Exo 2', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-items li {
    display: inline-block;
}

.navbar-items a {
    text-decoration: none;
    margin: 0 5px;
    color: rgb(185, 184, 184);
}

.navbar-items a:hover {
    transition: 0.5s;
    color: white;
}

header {
    height: 100vh;
    background-color: black;
}

.header {
    background-color: black;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h3 {
    color: rgba(255, 255, 255, 0.514);
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

.header-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-content-box {
    width: 50%;
}

.header-content-box form {
    display: flex;
    flex-direction: column;
    width: 400px;
    float: right;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.header-content-box form h4 {
    background-color: silver;
    color: black;
    font-weight: 900;
    font-size: 25px;
    padding: 15px;
}

.header-content-box form h4 span {
    color: rgb(238, 148, 12);
}

.header-content-box form div input {
    padding: 15px 20px;
    width: 80%;
    margin: 20px 0;
    font-size: 15px;
}

.header-content-box form input[type=submit] {
    padding: 15px 20px;
    background-color: rgb(238, 148, 12);
    color: white;
}

.header-content-box form input {
    border: none;
}

.header-content-box form input:focus {
    outline: none;
}

.Header-logo {
    display: flex;
    align-items: center;
}

.Header-logo h1 {
    font-size: 60px;
    float: left;
}

.Header-logo h1:nth-child(1) {
    color: white;
}

.Header-logo h1:nth-child(2) {
    color: rgb(238, 148, 12);
    font-family: 'Exo 2', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.header-text {
    color: white;
    text-align: left;
}

.header-text h2 {
    font-weight: 400;
}

.header-text p {
    color: rgb(187, 187, 187);
    text-align: left;
    font-weight: 200;
    line-height: 150%;
}

.header-text hr {
    width: 100px;
    margin: 40px 0;
}

.Download-black {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border: 2px solid white;
}

.social-block {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-block div {
    width: 40%;
}

.social-block p {
    color: rgb(78, 78, 78);
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.social-block li {
    list-style-type: none;
}

.social-list img {
    height: 50px;
}

.social-list a {
    opacity: 0.5;
}

.social-list a:hover {
    transition: 0.5s;
    opacity: 0.8;
}

.slider {
    padding: 100px 0;
    background-color: rgb(233, 233, 233);
}

.slider-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider-btn {
    display: flex;
    flex-direction: column;
    float: left;
}

.slider-btn button {
    height: 100px;
    width: 100px;
    border: none;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 15px;
    margin: 1px 0;
}

.slider-btn button:hover {
    background-color: rgb(238, 148, 12);
}

.slider-btn button:focus {
    outline: none;
}

.slider-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    float: right;
    height: 100%;
    align-items: center;
}

.slider-item div {
    width: 60%;
}

.slider-item img {
    width: 30%;
}

.slider-item a {
    padding: 10px 20px;
    background-color: rgb(238, 148, 12);
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

.Section-box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.section-text,
.section-img {
    width: 50%;
    height: 100%;
}

.section-img {
    display: flex;
    justify-content: center;
}

.section-img div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: rgb(131, 131, 131);
    box-shadow: 0 10px 20px rgb(145, 145, 145);
}

.section-img div p {
    font-size: 40px;
    width: 50%;
    text-align: center;
    color: rgb(182, 180, 180);
    font-weight: 100;
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.min-set {
    width: 500px;
    margin: 0 auto;
}

.section-box-color {
    background-color: rgb(235, 235, 235);
}

.section-text p {
    color: rgb(133, 133, 133);
}

.section-text hr {
    border-color: rgb(238, 148, 12);
    width: 50px;
    margin: 40px 0;
}

.icons {
    border-radius: 50%;
    border: 2px solid rgb(238, 148, 12);
    padding: 10px;
    color: rgb(238, 148, 12);
    margin-right: 40px;
}

.icons-big {
    transform: scale(1.2, 1.2);
}

.section-text-list {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.Content-awecome {
    padding: 100px 0;
    text-align: center;
}

.Content-awecome hr {
    width: 50px;
    border-color: rgb(238, 148, 12);
    margin: 30px auto;
}

.Content-awecome ul {
    display: flex;
}

.Content-awecome li {
    list-style-type: none;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.Content-awecome li span {
    border-radius: 50%;
    border: 2px solid rgb(238, 148, 12);
    padding: 10px;
    color: rgb(238, 148, 12);
}

.Content-awecome li h3 {
    margin: 30px 0;
}

.Content-awecome li p {
    color: rgb(138, 138, 138);
}

.options {
    text-align: center;
    padding: 100px 0;
    background-color: rgb(231, 230, 230);
}

.options hr {
    width: 50px;
    border-color: rgb(238, 148, 12);
    margin: 30px auto;
}

.options-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 80px;
}

.op-item {
    width: 350px;
}

.op-item-head {
    background-color: rgb(44, 44, 44);
    color: white;
}

.op-item-head h3 {
    padding: 15px 0px;
    border-bottom: 1px solid white;
}

.op-item-head div {
    padding: 10px 0;
}

.op-item-head div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-size: 50px;
}

.op-item-head div p {
    color: rgb(255, 255, 255);
}

.op-item-head p {
    color: rgb(138, 138, 138);
    padding-bottom: 20px;
}

.op-item-body p {
    background-color: rgb(238, 148, 12);
    color: white;
    padding: 10px 0;
}

.op-item-body li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(138, 138, 138, 0.432);
    color: rgb(138, 138, 138);
    list-style-type: none;
    background-color: rgb(255, 255, 255);
}

.op-line {
    background-color: rgb(238, 148, 12);
    height: 5px;
    width: 100%;
}

.saing {
    padding: 100px 0;
    text-align: center;
}

.saing hr {
    width: 50px;
    border-color: rgb(238, 148, 12);
    margin: 30px auto;
}

.saing-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.saing-message {
    background-color: rgb(231, 231, 231);
    padding: 20px 15px;
    text-align: left;
    position: relative;
    margin-bottom: 40px;
    width: 300px;
    font-style: oblique;
    color: rgb(95, 95, 95);
}

.saing-message::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: calc(100% - 65px);
    top: 100%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid rgb(231, 231, 231);
}

.saing-body-user {
    text-align: left;
}

.saing-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.saing-body-img {
    width: 100px;
    height: 100px;
    background-color: rgb(168, 168, 168);
    border-radius: 50%;
    margin-right: 20px;
}

.desing {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(121, 121, 121);
}

.desing hr {
    width: 50px;
    margin: 30px auto;
}

.desing-download {
    margin: 50px;
}

.desing-header p {
    color: rgb(179, 179, 179);
}

.desing-body {
    color: rgb(160, 160, 160);
}

.contactus {
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

.contact-header hr {
    border-color: rgb(238, 148, 12);
    width: 50px;
    margin: 40px auto;
}

.submit {
    padding: 10px 20px;
    background-color: rgb(238, 148, 12);
    color: white;
    border-radius: 4px;
}

.form-one,
.form-two {
    width: 50%;
    height: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-one input {
    padding: 20px 10px;
    margin: 10px 0;
    width: 80%;
}

textarea,
input {
    border: none;
}

textarea:focus,
input:focus {
    outline: none;
    background-color: rgb(230, 230, 230);
}

.form-two textarea {
    resize: none;
    height: 60%;
    width: 80%;
    padding: 20px 10px;
}

footer {
    text-align: center;
    background-color: rgb(22, 22, 22);
    padding: 20px;
    color: rgb(121, 121, 121);
}

footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

footer img {
    height: 30px;
    filter: invert();
}